# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj
*.eep
*.hex
*.map
*.sig
*.lock
*.lss
*.elf

# Code::Blocks-Files
*.depend
*.layout
*.zip


# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
